
$RECYCLE.BIN/
$tf/
*.Cache
*.DotSettings.user
*.VisualState.xml
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.a
*.app
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.bs
*.build.csdef
*.cachefile
*.dbmdl
*.dbproj.schemaview
*.dll
*.dotCover
*.dylib
*.elf
*.exe
*.gpState
*.hex
*.i*86
*.ilk
*.ko
*.la
*.lai
*.lib
*.lo
*.log
*.meta
*.mm.*
*.ncb
*.ncrunch*
*.o
*.obj
*.opensdf
*.out
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.psess
*.publishsettings
*.rdl.data
*.rsp
*.sbr
*.scc
*.sdf
*.sln.docstates
*.slo
*.so
*.so.*
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.user
*.vsp
*.vspscc
*.vspx
*.vssscc
*.x86_64
*_i.c
*_i.h
*_p.c
*~
.*crunch*.local.xml
.JustCode
.builds
.last_cover_stats
.sass-cache/
/.build/
/MANIFEST.bak
/META.json
/META.yml
/MYMETA.*
/Makefile
/Makefile.old
/blib/
/pm_to_blib
AppPackages/
App_Data/*.ldf
App_Data/*.mdf
AutoTest.Net/
Backup*/
Build
Build.bat
ClientBin/
Desktop.ini
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
DocProject/buildhelp/
FakesAssemblies/
Generated_Code/
TestResult.xml
Thumbs.db
UpgradeLog*.XML
UpgradeLog*.htm
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPublic/
[Ee]xpress/
[Oo]bj/
[Rr]elease/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult*/
_Chutzpah*
_NCrunch_*
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
_build/
~$*
